<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <header>The Circuit</header>
  	<form id="add-result">
  		<input type='text' name='Player 1' placeholder='Enter your name'>
  		<input type='text' name='Player 2' placeholder="Enter your opponent's name">
  		<a href='#'>Submit game</a>
  	</form>
    <h1></h1>
    <p></p>
  </body>
</html>
